<h2 class="content-block">Tennis Players</h2>

<dx-data-grid
  id="gridContainer"
  [dataSource]="customers"
  [showBorders]="false"
  keyExpr="ID"
  (onSelectionChanged)="selectedChanged($event)"
  >
  <dxo-selection mode="single"></dxo-selection>
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-editing mode="popup">
    <dxo-texts confirmDeleteMessage=""></dxo-texts>
  </dxo-editing>

  <dxi-column dataField="ID" [width]="80"></dxi-column>
  <dxi-column dataField="Name" [width]="160"></dxi-column>
  <dxi-column dataField="Age" [width]="130"></dxi-column>
  <dxi-column dataField="Titles" [width]="130"></dxi-column>
  <dxi-column dataField="Slams" [width]="130"></dxi-column>


  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

</dx-data-grid>

<dx-speed-dial-action
  icon="add"
  label="Add row"
  [index]="1"
  (onClick)="addRow()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="trash"
  label="Delete row"
  [index]="2"
  [visible]="selectedRowIndex !== -1"
  (onClick)="deleteRow()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="edit"
  label="Edit row"
  [index]="3"
  [visible]="selectedRowIndex !== -1"
  (onClick)="editRow()"
>
</dx-speed-dial-action>

<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Direction: </span>
    <dx-select-box
      [dataSource]="['auto', 'up', 'down']"
      value="auto"
      (onSelectionChanged)="directionChanged($event)"
    ></dx-select-box>
  </div>
</div>

<br>
<br>
<br>
<br>

<dx-chart
  id="chart"
  title="Slams"
  [dataSource]="customers"
>
  <dxi-series color="#79cac4" type="bar" argumentField="Name" valueField="Slams">
    <dxo-label [visible]="true" backgroundColor="#c18e92"></dxo-label>
  </dxi-series>
  <dxi-value-axis>
    <dxo-tick [visible]="false"></dxo-tick>
    <dxo-label [visible]="false"></dxo-label>
  </dxi-value-axis>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-legend [visible]="false"></dxo-legend>
</dx-chart>